[package]
name = "pk2"
version = "0.1.0"
authors = ["Lukas Wirth <lukastw97@gmail.com>"]
edition = "2018"

[dependencies]
block-modes = "^0.2"
blowfish = "^0.4"
byteorder = "^1.3"
encoding_rs = "^0.8"